
<div class="filter">
    <input type="number" [(ngModel)]="id" placeholder=" Enter store id" />
    <button (click)="setid(id)">View Stocks for Store</button>    
</div>

<div class="container">
    <table>
        <thead>
          <tr>
              <th>Consumption ID</th>
              <th>Product ID</th>
              <th>Store ID</th>
              <th>quantity Consumed</th>
              <th>Date Consumed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stockHistory">
              <td>{{ stock.consumptionId }}</td>
              <td>{{ stock.productId }}</td>
              <td>{{ stock.store.id }}</td>
              <td>{{ stock.quantityConsumed }}</td>
              <td>{{ stock.dateConsumed }}</td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }} </div>