<div class="dashboard-container">
    <button (click)="navigateTo('admin/manage/users')">Users List</button>
    <button (click)="navigateTo('admin/manage/users/create')">Create User</button>
    <button (click)="navigateTo('admin/manage/products')">Manage Products</button>
    <button (click)="navigateTo('admin/manage/stores')">Manage Stores</button>
    <button (click)="navigateTo('admin/manage/order')">Order History</button>
    <button (click)="navigateTo('admin/manage/coupon/add')">Add Coupon</button>
    <button (click)="navigateTo('admin/manage/coupon/consumption')">Coupon Consumption History</button>
  </div>
  
  <router-outlet></router-outlet>
  
