<div class="dashboard-container">
    <button (click)="navigateTo('manage-users')">Manage Users</button>
    <button (click)="navigateTo('admin/manage/products')">Manage Products</button>
    <button (click)="navigateTo('manage-coupons')">Manage Coupons</button>
    <button (click)="navigateTo('admin/manage/stores')">Manage Stores</button>
    <button (click)="navigateTo('order-history')">Order History</button>
    <button (click)="navigateTo('consumption-history')">Consumption History</button>
  </div>
  
  <router-outlet></router-outlet>
  
