<div class="dashboard-container">
    <button (click)="navigateTo('admin/manage/users')">Manage Users</button>
    <button (click)="navigateTo('admin/manage/products')">Manage Products</button>
    <button (click)="navigateTo('admin/manage/coupon/add')">Add Coupons</button>
    <button (click)="navigateTo('admin/manage/stores')">Manage Stores</button>
    <button (click)="navigateTo('admin/manage/order')">Order History</button>
    <button (click)="navigateTo('admin/manage/coupon/consumption')">Consumption History</button>
  </div>
  
  <router-outlet></router-outlet>
  
