<div class="container">
    <div class="header">
      <button class="add-product-btn" routerLink="/manage/products/add">Add Product</button>
    </div>
    <div class="grid">
      <div *ngFor="let product of products" class="product-row">
        <img [src]="product.image" alt="${{product.name}} product image">
        <div class="product-info">
          <h2>{{ product.name }}</h2>
          <p><strong>ID:</strong> {{ product.id }}</p>
          <p><strong>Code:</strong> {{ product.code }}</p>
          <p><strong>Description:</strong> {{ product.description }}</p>
          <p><strong>Price:</strong> {{ product.price }}</p>
          <button class="edit-product-btn" routerLink="/manage/products/{{product.id}}">Edit Product</button>
        </div>
      </div>
    </div>
</div>
