

<div class="filters">
    <div class="filter">
      <label for="guestEmail">Guest Email:</label>
      <input type="text" id="guestEmail" [(ngModel)]="guestEmail">
      <button class="filter-button" (click)="filterOrders()">Filter by Email</button>
    </div>
    <div class="filter">
      <label for="fromDate">From Date:</label>
      <input type="date" id="fromDate" [(ngModel)]="fromDate">
    </div>
    <div class="filter">
      <label for="toDate">To Date:</label>
      <input type="date" id="toDate" [(ngModel)]="toDate">
      <button class="filter-button" (click)="filterOrders()">Filter by Date Range</button> 
    </div>
  </div>
  
  <div class="table-container">
      <div class="order-container">     
          <table class="table table-striped table-bordered order-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Guest Email</th>
                  <th>Coupon Code</th>
                  <th>Amount</th>
                  <th>Created At</th>
                  <th>Order Items</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <td>{{order.id}}</td>
                  <td>{{order.guestEmail}}</td>
                  <td>{{order.couponCode}}</td>
                  <td>{{order.amount}}</td>
                  <td>{{order.createdAt | date: 'short'}}</td>
                  <td>
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Product ID</th>
                          <th>Price</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of order.orderItems">
                          <td>{{item.productId}}</td>
                          <td>{{item.price}}</td>
                          <td>{{item.quantity}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>