<main>
  <section class="store-grid">
    <div *ngFor="let store of stores" class="store-card">
      <a routerLink="/store/{{store.id}}">
        <p-card>
          <img src="https://media.istockphoto.com/id/912819604/vector/storefront-flat-design-e-commerce-icon.jpg?s=612x612&w=0&k=20&c=_x_QQJKHw_B9Z2HcbA2d1FH1U1JVaErOAp2ywgmmoTI=" alt="{{store.name}} Photo" class="store-photo" />

          <h2>{{store.name}}</h2>
          
          <p>{{store.location}}</p>
        </p-card>
      </a>
    </div>
  </section>
</main>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>