<nav class="navbar navbar-expand-lg">
  <button class="btn mx-2" routerLink="/store">Browse Other Stores</button>
  <button class="btn mx-2" routerLink="/store/shopping-cart">My Shopping Cart</button>
</nav>

<div class="product-grid">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.image" alt="Product Image" class="product-image">
    <div class="product-details">
      <h2 class="product-name">{{product.name}}</h2>
      <p class="product-description">{{product.description}}</p>
      <p class="product-price">{{product.price | currency}}</p>
      <div class="add-to-cart">
        <button *ngIf="cartService.getCartItem(product.id, store.id)"
                (click)="cartService.incrementProductQuantity(product.id, store.id)" class="quantity-button">+
        </button>
        <span *ngIf="cartService.getCartItem(product.id, store.id)"
              class="quantity">{{cartService.getCartItem(product.id, store.id).quantity}}</span>
        <button *ngIf="cartService.getCartItem(product.id, store.id)"
                (click)="cartService.decrementProductQuantity(product.id, store.id)" class="quantity-button">-
        </button>
        <button
          class="cart-button"
          (click)="cartService.updateShoppingCart(product.id, store.id, product.name,product.price, product.image)">
          {{ cartService.getCartItem(product.id, store.id) ? 'Remove from Cart' : 'Add to Cart' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }} </div>
