
<h1 style="margin-top: 10px;">Add Stock</h1>
<form (ngSubmit)="addStock()">

  <label for="productId">Product Id:</label>
  <input [(ngModel)]="stock.productId" id="productId" type="number" name="productId">

  <label for="storeId">Store Id:</label>
  <input [(ngModel)]="stock.storeId" id="storeId" type="number" name="storeId">

  <label for="quantity">Product Quantity:</label>
  <input [(ngModel)]="stock.quantity" id="quantity" type="number" name="quantity">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>

  <button type="submit" style="width: auto;">Add Stock to Store</button>
</form>