
<h1 style="margin-top: 10px;">Add Stock</h1>
<form (ngSubmit)="addStock()">
  <label>Product Id:</label>
  <input [(ngModel)]="stock.productId" type="number">
  
  <label>Store Id:</label>
  <input [(ngModel)]="stock.storeId" type="number">

  <label>Product Quantity:</label>
  <input [(ngModel)]="stock.quantity" type="number">

  <div *ngIf="addStockError" class="alert alert-danger" role="alert">{{ addStockError }} </div>

  <button type="submit" routerLink="/admin/manage/stores" style="width: auto;">Add Stock to Store</button>
</form>